:root {
    --bg-color: rgb(21, 15, 110);
    --bg-hover-color: rgba(10, 5, 75, 0.774);
    --bg-close-color: rgb(161, 15, 15);
    --main-text-color: rgb(207, 204, 250);
    --fs-medium: 1.8rem;
    --fs-small: 1.4rem;
}

html,
body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
    color: var(--main-text-color);
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: var(--fs-medium);
    }
}

.planet-orbit {
    position: absolute;
    top: 8%;
    left: 28%;
    transform-origin: center;
    width: 830px;
    height: 830px;
    transition: all 3s ease;
    animation: orbit 55s linear infinite;
    border-radius: 100%;
}

.planet-orbit a {
    text-decoration: none;
    position: absolute;
    z-index: 900;
    animation: stay 55s linear infinite;
}

.planet-orbit a p {
    margin-left: 3px;
    color: black;
    opacity: 0.1;
    transition: all 0.5s ease;
}

.planet-orbit a p:hover {
    opacity: 1;
    color: var(--main-text-color);
}

.planet-select {
    display: none;
}

.planet-button {
    display: none;
}

#planets {
    display: none;
}

@media screen and (max-width: 1500px) {
    .planet-orbit {
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1499px) {
    .planet-select {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
        height: 38px;
    }
}

@media screen and (max-width: 799px) {
    .planet-button {
        display: block;
        cursor: pointer;
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 25%;
        background-color: var(--bg-color);
    }

    #planets {
        position: absolute;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-size: var(--fs-small);
        top: 10%;
        z-index: 999;
        width: 100%;
        height: 80%;
        background-color: var(--bg-color);
    }

    #planets div a,
    #planets div a:visited {
        color: var(--main-text-color);
        text-decoration: none;
    }

    #planets div:not(:nth-of-type(9)):hover {
        background-color: var(--bg-hover-color);
        padding: 1rem;
        text-decoration: underline;
    }

    #planets div:nth-of-type(9) {
        cursor: pointer;
        grid-column: 1 / span 2;
        background-color: var(--bg-close-color);
        padding-inline: 30px;
        padding-block: 5px;
    }

    #planets div:nth-of-type(9):hover {
        border: 3px solid black;
    }
}

.navbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    width: 35px;
    height: 35px;
}

.navbutton:first-of-type {
    left: 50%;
    top: -1%;
}

.navbutton:nth-of-type(2) {
    left: 60%;
    top: 0%;
}

.navbutton:nth-of-type(3) {
    left: 74%;
    top: 6%;
}

.navbutton:nth-of-type(4) {
    left: 95%;
    top: 30%;
}

.navbutton:nth-of-type(5) {
    left: 50%;
    top: 98%;
    transform: translate(-50%, -50%);
}

.navbutton:nth-of-type(6) {
    left: 35%;
    top: 95%;
}

.navbutton:nth-of-type(7) {
    left: 3%;
    top: 65%;
}

.navbutton:nth-of-type(8) {
    left: 2%;
    top: 45%;
}

.home-button {
    position: absolute;
    bottom: 0;
    background-color: var(--bg-color);
    font-size: var(--fs-medium);
    left: 50%;
    border: none;
    color: var(--main-text-color);
    transform: translate(-50%, -50%);
    width: 100px;
}

@keyframes orbit {
    100% {
        rotate: -1turn;
    }
}

@keyframes stay {
    100% {
        rotate: 1turn;
    }
}
